.pageContainer {
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  padding-block: 50px;
  min-height: 100vh;

  @media (max-width: 768px) {
    background-attachment: scroll;
    background-repeat: repeat;
    background-size: contain;
  }
}
