.pageContainer {
  background-image: url(../assets/images/banner.jpg);
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  padding-block: 50px;
}
