.container {
  margin: 0 20px 30px 20px;
}

.resultsContainer {
  display: flex;
  gap: 20px;
  color: white;
  border: 1px solid white;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 10px;

  p {
    margin-bottom: 0;
    font-weight: 700;
  }

  .correctAnswers {
    color: green;
  }

  .incorrectAnswers {
    color: red;
  }
}

.progressBar {
  width: 100%;
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}

.progressFill {
  height: 100%;
  background-color: #2b2b2b;
  width: 0;
  transition: width 0.3s ease;
  border-radius: 10px;
}
